<!-- The contents of this file will be loaded for each web application -->
<Context
    reloadable="false" allowLinking="true"
    cachingAllowed="false"
    tldNamespaceAware="true"
    tldValidation="false"
    debug="1"
    unloadDelay="1"
    >

  <WatchedResource></WatchedResource>

  <Manager
    className="org.apache.catalina.ha.session.DeltaManager"
    expireSessionsOnShutdown="false"
    notifyListenersOnReplication="true"
    pathname="SESSIONS.ser" />

  <!-- Uncomment this to disable session persistence across Tomcat restarts -->
  <!--
      <Manager pathname="" />
  -->

  <Environment name="mmbase_errorpage/to"
               value="Michiel.Meeuwissen@gmail.com"
               type="java.lang.String" />

  <!--
  <Environment name="mmbase/sendmail/mailhost" value="smtp.gmail.com" type="java.lang.String" />
  <Environment name="mmbase/sendmail/user" value="mihxiltest" type="java.lang.String" />
  <Environment name="mmbase/sendmail/password" value="mmbase" type="java.lang.String" />
  <Environment name="mmbase/sendmail/mailport" value="465" type="java.lang.String" />
  <Environment name="mmbase/sendmail/mail.smtp.socketFactory.class" value="javax.net.ssl.SSLSocketFactory" type="java.lang.String" />
  <Environment name="mmbase/sendmail/mail.smtp.socketFactory.fallback" value="true" type="java.lang.String" />

<Resource
      name="mail/Session"
      auth="Container"
      type="javax.mail.Session"
      mail.transport.protocol="smtp"
      mail.smtp.host="smtp.gmail.com"
      mail.smtp.port="465"
      mail.smtp.auth="true"
      mail.smtp.user="mihxiltest@gmail.com"
      password="mmbase"
      mail.smtp.starttls.enable="true"
      mail.smtp.socketFactory.class="javax.net.ssl.SSLSocketFactory"
      />


  -->
  <Environment name="mmbase-config/log/log4j.xml" value="$CATALINA_BASE/log/console.log4j.xml" type="java.lang.String" />

</Context>
