<Server port="8004" shutdown="SHUTDOWN" >
  <Service name="Catalina">


    <Connector port="8080"
               protocol="HTTP/1.1"
               connectionTimeout="${TOMCAT_CONNECTION_TIMEOUT}"
               asyncTimeout="${TOMCAT_ASYNC_TIMEOUT}"
               acceptCount="${TOMCAT_ACCEPT_COUNT}"
               maxThreads="${TOMCAT_MAX_THREADS}"
               xpoweredBy="false"
               server="Tomcat ${TOMCAT_MAJOR} ${HOSTNAME}"
               compression="true"
               disableUploadTimeout="true"
               relaxedQueryChars="${TOMCAT_RELAXED_QUERY_CHARS}"
               relaxedPathChars="${TOMCAT_RELAXED_PATH_CHARS}"
               encodedSolidusHandling="${TOMCAT_ENCODED_SOLIDUS_HANDLING}"
               allowBackslash="false"
                />

    <Engine name="Catalina" defaultHost="localhost" >
      <Valve
            className="org.apache.catalina.valves.AccessLogValve"
            directory="logs"  prefix="catalina_access_log" suffix=".txt"
            pattern='%h %S %l %u %t "%r" %s %b' />

        <!--
            To test virtual hosts.
        <Host
            name="cj.localhost"
            debug="1"
            appBase="webapps"
            unpackWARs="false"
            autoDeploy="false">
        </Host>
        -->
        <Host
            xmlValidation="false"
            xmlNamespaceAware="false"
            name="localhost"
            appBase="webapps"
            unpackWARs="false"
            autoDeploy="false">
          <!--
           <Listener className="org.apache.catalina.startup.UserConfig"
                     directoryName="public_html"
                     userClass="org.apache.catalina.startup.PasswdUserDatabase"/>
           -->
        </Host>
    </Engine>
  </Service>
</Server>
