<Server port="8004" shutdown="SHUTDOWN" >
  <Service name="Catalina">

    <Connector port="8080"
               protocol="HTTP/1.1"
               connectionTimeout="${TOMCAT_CONNECTION_TIMEOUT}"
               asyncTimeout="${TOMCAT_ASYNC_TIMEOUT}"
               acceptCount="${TOMCAT_ACCEPT_COUNT}"
               maxThreads="${TOMCAT_MAX_THREADS}"
               xpoweredBy="false"
               server="Tomcat ${TOMCAT_MAJOR} ${HOSTNAME}"
               compression="true"
               disableUploadTimeout="true"
               relaxedQueryChars="${TOMCAT_RELAXED_QUERY_CHARS}"
               relaxedPathChars="${TOMCAT_RELAXED_PATH_CHARS}"
               encodedSolidusHandling="${TOMCAT_ENCODED_SOLIDUS_HANDLING}"
               allowBackslash="false"
               proxyName="${PROXY_NAME}"
               proxyPort="${PROXY_PORT}"
               scheme="${SCHEME}"
                />

    <Connector protocol="AJP/1.3"
               port="${AJP_PORT}"
               proxyName="${PROXY_NAME}"
               proxyPort="${PROXY_PORT}"
               scheme="${SCHEME}"
               redirectPort="8443"
    />

    <Engine name="Catalina" defaultHost="localhost" >
      <Valve
            className="org.apache.catalina.valves.AccessLogValve"
            directory="logs"  prefix="catalina_access_log" suffix=".txt"
            pattern='%h %S %l %u %t "%r" %s %b' />
        <Host
            xmlValidation="false"
            xmlNamespaceAware="false"
            name="localhost"
            appBase="webapps"
            unpackWARs="false"
            autoDeploy="false">

        </Host>
    </Engine>
  </Service>
</Server>
