---
name: Docker

on:
  push:
    branches: [ "main" ]
    tags: [ '*' ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  J8: '8u472-b08-noble'
  J25: '25.0.1_8-jre-noble'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        java:
          - '8u472-b08-jdk-noble'
          - '25.0.1_8-jdk-noble'
        directory:
          - env
          - build
          - tomcat
          - commandserver
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set variables
        id: vars
        run: |
          commit_timestamp=$(git show -s --format="%ci" ${{github.sha}})
          echo commit $commit_timestamp
          echo "commit_timestamp=${commit_timestamp}" >> "$GITHUB_OUTPUT"
          if [[ "${{ matrix.java }}" == *8u* ]]; then
            tag=8
          else
            tag=25
          fi
          echo "tag=${tag}" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata ${{ matrix.directory }}
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/mmbase/${{ matrix.directory }}
          tags: |
            type=raw,value=${{ steps.vars.outputs.tag }}-${{ github.ref_name }},event=branch
            type=raw,value=${{ steps.vars.outputs.tag }}-${{ github.ref_name }},event=tag  
            type=raw,value=${{ steps.vars.outputs.tag }}-snapshot,enable={{is_default_branch}}
            type=raw,value=${{ steps.vars.outputs.tag }}-latest,event=tag
            type=semver,pattern=${{ steps.vars.outputs.tag }}-{{major}},event=tag
      - name: Build and push Docker image ${{ matrix.directory }}
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ${{ matrix.directory }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/mmbase/${{ matrix.directory }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/mmbase/${{ matrix.directory }}:buildcache,mode=max
          platforms: linux/amd64,linux/arm64
          build-args: |
            JAVA_VERSION=${{ matrix.java }}
            CI_COMMIT_REF_NAME=${{ github.ref_name }}
            CI_COMMIT_SHA=${{ github.sha }}
            CI_COMMIT_TITLE=${{ github.event.head_commit.message }}
            CI_COMMIT_TIMESTAMP=${{ steps.vars.outputs.commit_timestamp }}
            TAG=${{ steps.vars.outputs.tag }}-${{ github.ref_name == github.event.repository.default_branch && 'latest' || github.ref_name }}
